body {
  background-color: rgb(255, 217, 0);
  
}
.center {
  margin: auto;
  width: 50%;
  border: 15px;
}

.list {
  color: blue;
  background-color: black;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

